<div class="container">
<h2></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="row"></th>
      <th scope="col">会員ID</th>
      <th scope="col">氏名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <th scope="row"></th>
      <td><%= customer.id %></td>
      <td><%= link_to customer.full_name,admin_customer_path(customer) %></td>
      <td><%= customer.email %></td>
      <td><% if customer.is_deleted %>
          退会
          <% else %>
          有効
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
 </table>
</div>