<div class="container">
  
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-25 h4 bg-light">ジャンル編集</h2>
    </div>
  </div>

  <div class="mt-5">
    <div class="row">
      <div class="col-6">
        <%= render 'layouts/errors', obj: @genre %>
        <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
          <%= render :partial => 'form', :locals => {:f => f, :edit_flag => true} %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>